# Virtual environment
.venv/
venv/
env/

# Database
*.sqlite3
*.db
*.sqlite
*.json

# Environment variables
.env
*.env
.env.*
.venv
!.env.example

# Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
media/
staticfiles/

# Временные артефакты (туннели, фоновые логи)
*.log
*.out
cloudflared.*
pinggy.*